@model IEnumerable<Domain.Entities.Ecosystem>

@{
    ViewData["Title"] = "ListUninhabitableEcos";
}

<h3>Ecosistemas inahabitables para la especie</h3>

<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgRoute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Security)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>                
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgRoute)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Security)
                </td>                
            </tr>
        }
    </tbody>
</table>
<div><a asp-action="Index">Volver a Especies</a></div>
